/*## Base ##*/
:root {
    --dark-blue: #010E3C;
    --neon-green: #DDFF00;
    --light-neon-green: #edfb92;
    --blue: #3F00FD;
    --white: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Pirata One", system-ui;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

@media (min-width: 47rem) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }
}


/*# Links #*/
a {
    background-color: var(--neon-green);
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    text-decoration: none;
    color: var(--dark-blue);
}

a:visited {
    background-color: var(--neon-green);
}

a:hover {
    background-color: var(--white);
}

a:focus {
    background-color: var(--light-neon-green);
}

a:active {
    background-color: var(--light-neon-green);
}


/* ## Components ##*/

/* # Header #*/
header {
    margin: 0rem 1.5rem;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--neon-green);
}

header ul {
    display: none;
}

header a {
    background: none;
    color: var(--white);
}

header a:visited {
    background: none;
    color: var(--white);
}

header a:hover {
    background: none;
    color: var(--neon-green);
}

header a:focus {
    background: none;
    color: var(--neon-green);
}

header a:active {
    background: none;
    color: var(--neon-green);
}

.hamburger-btn {
    border: none;
    background: none;
}

.hamburger-btn svg {
    width: 2rem;
}


@media (min-width: 47rem) {
    header {
        padding: 0rem 2.5rem;
    }

    header ul {
        padding: 0rem;
        display: flex;
        gap: 1rem;

    }

    header li {
        list-style: none;
    }

    .hamburger-btn {
        display: none;
    }


}


/*# Main #*/

/* Introduction */

.subtitle {
    margin-top: 0;
    font-size: 1.3rem;
}

.bio {
    margin-bottom: 3rem;
}

.section-intro {
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--dark-blue);
    background: linear-gradient(180deg, var(--dark-blue) 12%, var(--blue) 100%);
}

.section-intro::after {
    /* Adapted from : https://codepen.io/ongtiffany/pen/rOwryp */
    position: absolute;
    bottom: -3rem;
    left: 0;
    width: 100%;
    content: " ";
    background:
        radial-gradient(circle at 50%, var(--dark-blue) 45%, var(--blue) 46%, var(--blue) 50%);
    background-size: 3rem 6rem;
    height: 3rem;
    background-repeat: repeat-x;
}

.image-intro {
    display: none;
}

@media (min-width: 47rem) {
    .section-intro div {
        max-width: 70%;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .bio {
        font-size: 1.2rem;
        max-width: 42rem;

    }

    .section-intro {
        padding: 5rem;
    }

    .image-intro {
        display: block;
    }

    .image-intro img {
        max-height: 25rem;
    }

}


/* Projects */
.section-projects {
    padding: 1rem;
    padding-top: 3rem;
    text-align: center;
}

.project-gallery {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}

.project-gallery article {
    background-color: var(--blue);
    padding-bottom: 2rem;
}

.github-btn {
    display: inline-flex;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    padding: 0.2rem;
}

.github-btn img {
    width: 2rem;
    height: auto;
    display: block;
    margin: auto;
}

.project-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}



/*# Footer #*/
footer {
    background-color: var(--neon-green);
    color: var(--dark-blue);
    padding: 2rem;
    padding-top: 4rem;
    text-align: center;

}