/*## Base ##*/
:root {
    --dark-blue: #010E3C;
    --neon-green: #DDFF00;
    --blue: #3F00FD;
    --white: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Bai Jamjuree', 'Trebuchet MS', Arial, sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Pirata One", "Bookman Old Style", system-ui;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

@media (min-width: 47em) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }
}


/*# Links #*/
a {
    background-color: var(--neon-green);
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    text-decoration: none;
    color: var(--dark-blue);
    border: var(--neon-green) 3px solid;
}

a:visited {
    background-color: var(--neon-green);
}

a:hover {
    background-color: var(--white);
    border-color: var(--white);
}

a:focus,
a:active {
    background-color: var(--white);
    border-color: var(--dark-blue);
    filter: drop-shadow(0 0 0.5rem var(--white));
}


/* ## Components ##*/

/* # Header #*/
header {
    margin: 0rem 1.5rem;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--neon-green);
}

/* Header Links */
header a {
    background: none;
    color: var(--white);
    border: none;
}

header a:visited {
    background: none;
    color: var(--white);
}

header a:hover {
    background: none;
    color: var(--neon-green);
}

header a:focus,
header a:active {
    filter: none;
    background: none;
    text-decoration: overline wavy;
    color: var(--neon-green);
}

/* Mobile Menu Styles */
/* Hamburger menu adapted from FWDP 1000 day-04 files */
.menu-toggle {
    border: none;
    background: none;
}

.menu-toggle svg {
    max-width: 2rem;
    cursor: pointer;
}

.nav-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--dark-blue);
    border-top: 1px solid var(--neon-green);
}

.nav-menu li {
    list-style: none;
    padding: 1rem;
}

.nav-menu a {
    padding: 1rem;
}

.close-icon {
    display: none;
}

.menu-icon {
    display: block;
}

.site-navigation.toggled ul {
    display: block;
}

.site-navigation.toggled .menu-icon {
    display: none;
}

.site-navigation.toggled .close-icon {
    display: block;
}



@media (min-width: 47em) {
    header {
        padding: 0rem 2.5rem;
    }

    .nav-menu {
        position: static;
        padding: 0rem;
        display: flex;
        gap: 0.5rem;
        border: none;
        margin: 0rem;
    }

    .menu-toggle {
        display: none;
    }


}


/*# Main #*/

/* Introduction */

.subtitle {
    margin-top: 0;
    font-size: 1.3rem;
}

.bio {
    margin-bottom: 3rem;
}

.section-intro {
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--dark-blue);
    background: linear-gradient(180deg, var(--dark-blue) 12%, var(--blue) 100%);
}

.section-intro::after {
    /* Adapted from : https://codepen.io/ongtiffany/pen/rOwryp */
    position: absolute;
    bottom: -3rem;
    left: 0;
    width: 100%;
    content: " ";
    background:
        radial-gradient(circle at 50%, var(--dark-blue) 45%, var(--blue) 46%, var(--blue) 50%);
    background-size: 3rem 6rem;
    height: 3rem;
    background-repeat: repeat-x;
}

.image-intro {
    display: none;
}

@media (min-width: 47em) {
    .section-intro div {
        max-width: 70%;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .bio {
        font-size: 1.2rem;
        max-width: 42rem;

    }

    .section-intro {
        padding: 5rem;
    }

    .image-intro {
        display: block;
    }

    .image-intro img {
        max-height: 25rem;
    }

}


/* Projects */
.section-projects {
    padding: 1rem;
    padding-top: 3rem;
    text-align: center;
}

.project-gallery {
    margin-bottom: 3rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}


.project-gallery article {
    background-color: var(--blue);
    margin-bottom: 1.5rem;
    width: 18rem;
}

.proj-img-container {
    max-height: 21rem;
    overflow: hidden;
}

.proj-img-container img {
    max-width: 100%;
}

.proj-info-container {
    padding: 1rem;
}

.proj-info-container h3 {
    margin-top: 0;
}

.project-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.github-btn {
    display: inline-flex;
    max-width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    padding: 0.2rem;
}

.github-btn img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: auto;
}

/*# Footer #*/
footer {
    background-color: var(--neon-green);
    color: var(--dark-blue);
    padding: 2rem;
    padding-top: 4rem;
    text-align: center;

}